<h1>Alterar Dica</h1>
<p class="lead">Adicione uma nova dica do site para ajudar ao usuário</p>
<div class="col-md-offset-2 col-md-7">
	<div class="panel panel-primary">
		<div class="panel-heading">
      	Painel
    	</div>
    	<div class="panel-body">
    		<label for="title">Titulo</label>
		    <input id="title" type="text" name="titulo"  class="form-control">
			<br>
			<label for="desc">Descrição</label>
			<input id="desc" type="text" name="descricao" class="form-control">
			<br>
			<span class="lead">Faça o upload de uma imagem</span>
			<br>
			<br>
			<button class="btn btn-green"><i class="glyphicon glyphicon-circle-arrow-up"></i> Enviar Imagem</button>
			<br>
			<br>
			<button class="btn btn-green">Submeter</button>
    	</div>
  	</div>
</div>
	