.sidebar-lg {
  height: 100%;
  background-color: green;
  overflow-x: hidden;
}

.sidebar-lg a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 0px;
}