.sidebar-lg {
  height: 100%; 
  width: 300px; 
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;  
  transition: 0.5s;
  text-align: center;
  color: white; 
}

.sidebar-lg a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 0px;
}