*:focus{
  outline: none;
}


/*Navbar*/
.navbar-green{
  background-color: #008000;
  border-radius: 0px;
  color: white;
  border: none;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: white;
}

/*Propriedades Fontes navbar*/
.navbar-default .navbar-nav > li > a{
  font-size: 1.1em;
  font-family:Arial;
}
.open>.dropdown-menu{
  margin: 0px;
}
/*Botão*/
.btn-green { 
  color: #ffffff; 
  background-color: #016301; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #ffffff; 
  background-color: #243D2A; 
}

.btn-blue { 
  color: #FFFFFF; 
  background-color: #1FDCA6; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF; 
}  
/*background botao dropdown*/
.dropdown-menu>li>a,
.open>.dropdown-menu,
.open>.dropdown-menu,
.dropdown-menu>li>a:hover
{
  color: white;
  background-color: #1FDCA6;
}
/*carousel propriedades*/
.carousel .item{
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 5% 110%;
  background-color: #363636;
}
/*Indicandor do caminho das imagens do carousel*/
.carouselPicture1{
  background-image: url(../img/img4.png); 
}
.carouselPicture2{
  background-image: url(../img/img4.png); 
}
.carouselPicture3{
  background-image: url(../img/img4.png); 
}

@media screen and (min-width: 769px) {
  .sidebar{
    display: none;
  }
}


@media screen and (max-width: 768px) {
  /*carousel*/
  .carousel .item {
    background-image: url(../img/img4.png);
    background-size: 100% 700px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    box-shadow:0 0 0 200px white;;
  }
  .navbar-default .navbar-toggle{
    border-radius: 0px;
    margin-left: 10px;
    transition: 0.3s
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle:hover{
    background-color: rgba(220,220,220, 0.3);
    transition: 0.3s;
  }
  .navbar-brand{
    font-size: 2.3rem;
  }
}


/* The navigation menu links */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-x: hidden; 
  border: 1px solid gray; 
  transition: 0.5s; 
}
.sidebar a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    background-color: transparent;    
    border: none;
    transition: 0.3s;
    margin-left: 15px;
}
.sidebar .closebtn:hover{
    color: white;
    transition: 0.3s;
}

.sidenav-image{
  height: 250px;
  width: 100%;
  /*background-image: url("../img/sidebar-img.jpg");*/
  background-color: green;
  margin-bottom: 10px;
}

/*Icones*/
.fa{
  color: green;
  margin-right: 20px;
}