*:focus{
  outline: none;
}
*{
  list-style: none;
}
html, body {
  height: 100%;
}
/*Errors*/
.Content404{
  background-image: url("../img/errors/404/not-found.jpg");
  background-size: 100% 100%;
  height: 800px;
}

}
/*Cores*/
.green{
  color: green;
}

.blue{
  color: #1FDCA6;
}
/*Navbar*/
.navbar-green{
  background-color: #008000;
  border-radius: 0px;
  color: white;
  border: none;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
  color: white;
}
/*Propriedades Fontes navbar*/
.navbar-default .navbar-nav > li > a{
  font-size: 1.1em;
  font-family: Arial;
}
.open>.dropdown-menu{
  margin: 0px;
  color: white;
}
/*Botão*/
.btn-green { 
  color: #ffffff; 
  background-color: #016301;
  border-radius: 0px; 
}

/*Cores Botao*/
.btn-blue-outline{
  color: white;
  background-color: #1FDCA6;
  border-radius: 0px;
  border: 1px solid #1FDCA6;
  transition: 0.3s;
  } .btn-blue-outline:hover{
    background-color: #1FDCA6;
    color: white;
    transition: 0.3s;
    outline: none;
  }


  .btn-green:hover, 
  .btn-green:focus, 
  .btn-green:active, 
  .btn-green.active, 
  .open .dropdown-toggle.btn-green { 
    color: #ffffff; 
    background-color: #243D2A; 
  }

  .btn-blue { 
    color: #FFFFFF; 
    background-color: #1FDCA6; 
  } 

  .btn-blue:hover, 
  .btn-blue:focus, 
  .btn-blue:active, 
  .btn-blue.active, 
  .open .dropdown-toggle.btn-blue { 
    color: white;
    background-color: #1FDCA6;
  }  
  /*background botao dropdown*/
  .dropdown-menu>li>a,
  .open>.dropdown-menu,
  .open>.dropdown-menu,
  .dropdown-menu>li>a:hover
  {
    color: white;
    background-color: #1FDCA6;
  }
  .dropdown ul{
    display: none;
  }

  /* The navigation menu links */
  .sidebar {
    height: 100%; 
    width: 300px; 
    position: fixed;
    z-index: 3;
    top: 0;
    left: -300px;
    background-color: #FFF;
    overflow-x: hidden; 
    border: 1px solid gray; 
    transition: 0.5s; 
  }

  /**********************/
  /*      Sidebar       */
  /**********************/

  .sidebar a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    background-color: white;
    transition: 0.5s;
    z-index: 3;
  }

  .sidebar a:hover, .offcanvas a:focus{
    background-color: rgba(220,220,220, 0.5);
    transition: 0.5s;
    z-index: 3;
  }

  .sidebar .closebtn {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    background-color: transparent;    
    border: none;
    transition: 0.3s;
    margin-left: 15px;
  }
  .sidebar .closebtn:hover{
    color: gray;
    transition: 0.3s;
  }

  .sidenav-image{
    height: 250px;
    width: 100%;
    background-image: url("../img/side-img.jpg");
    text-align: center;
  }

  .sidenav-image button{
    margin: 50% auto;
    border-radius: 0;
  }

  .fa{
    color: green;
    margin: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-toggle{
    border-radius: 0px;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: rgba(220,220,220, 0.5);
  }

  .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
    color: white;
  }

  /*carousel*/

  /********************************/
  /*       Fade Bs-carousel       */
  /********************************/
  .fade-carousel {
    position: relative;
    /*define altura do slider*/
    height: 70vh;
  }
  .fade-carousel .carousel-inner .item {
    /*define altura do slider*/
    height: 70vh;
  }
  .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color:#008000;
    border-color: #008000;
  
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  /********************************/
  /*          Hero Headers        */
  /********************************/
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }

  .hero h1 {
    font-size: 4.5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .hero h1,h3,
  .carousel-indicators
  {
    /*Bloqueia copia texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*text-shadow: 0.1em 0.1em #333;*/
    color: white; 
  }

  .fade-carousel .carousel-inner .item .hero {
   opacity: 0;
   -  -webkit-transition: 2s all ease-in-out .1s;
   -  -moz-transition: 2s all ease-in-out .1s; 
   -  -ms-transition: 2s all ease-in-out .1s; 
   -  -o-transition: 2s all ease-in-out .1s; 
   -  transition: 2s all ease-in-out .1s; 
 }
 .fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.carousel-indicators{
  z-index: 2;
}

/********************************/
/*       Custom Buttons         */
/********************************/

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
  cursor: pointer;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #363636;
}
.slide-1,.slide-2,.slide-3{
  /*Escurecer Imagem*/
  filter: brightness(70%);
}
.fade-carousel .slides .slide-1 {
  height: 100%;
  background-image: url(../img/banner/banner1.jpg); 
}
.fade-carousel .slides .slide-2 {
  height: 100%;
  background-image: url(../img/banner/banner2.jpg);
}
.fade-carousel .slides .slide-3 {
  height: 100%;
  background-image: url(../img/banner/banner3.jpg);
}


/********************************/
/*  Input de registro e login   */
/********************************/
input[type]{
  border-radius: 0px;
}

input[type]:focus{
  border:2px solid green;
  box-shadow: none;
}

.cadastro{
  border: 1px solid rgba(0,128,0,0.7);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

#cad-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/********************************/
/*          Conteudo            */
/********************************/



/*Tela Usuario*/
.pontos{
  background-color: #1C1C1C;
/*background-image: url(../img/teste.jpg);
background-position: 10px 0px;*/
height: 220px;
}
.progress{
  height: 100%;
  background-color:transparent;
  margin: 0;
}
#my_canvas{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}
.margin{
  margin: 0;
  padding: 0;
}


/*Quero Reciclar*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-weight: 200;
  background-color: #363636;
  position: absolute;
  height: auto;
  min-height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #363636;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #363636;
  border-bottom: 1px solid #363636;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-size: 1em;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  font-size: 1.3em;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid green;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/******************/
/* Mapa Google    */
/******************/
#map {
  width: 100%;
  height: 100%;
  right: 0;
}
.mapgoogle{
 height: 100%;
 background-color: #ededed;
 margin: 0px;
 padding: 0px;
}
/*Modal de filtro*/
.modal-body > .container-fluid > .row,
.modal-body > .container-fluid > .row > .col-md-6 {
  margin-bottom: 10px;
}
.filter{
  border-radius: none;
  position: absolute;
  top: 17%;
  left: 1%;
  z-index: 99;
}
/*Fim quero Reciclar*/

.title_LoginCadas{
  color: white;
  font-size: 1.9em;
}
/*background botao dropdown*/
.dropdown-menu>li>a,
.open>.dropdown-menu,
.open>.dropdown-menu,
.dropdown-menu>li>a:hover
{
  color: white;
  background-color: #1FDCA6;
}

/*Form Login Admin*/
.login-form h1{
  text-align: center;
}
/*Admin*/
#row-same-height {

}
.DesativaInput{
  pointer-events:none;
}
#conteudo{
  overflow:auto;
  height: 100%;
  position: fixed;
  max-height: 95%;
}
#adminSidenav{
  height: 100%;
}
#adminSidenav h1{
  color: white;
  text-align: left;
}
/*Interface Usuario*/
.UserInterface{
  height: 170px;
  background-color: #363636;
  background-size: 200% auto;
  background-repeat: no-repeat;
}
.userImage{
  height: 100%;
}
.UserPhotoDiv{
  width: 140px;
  height: 127px;
  border-radius: 100%;
  background-color: #ededed;
  background-image: url('../img/0000.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin:8% 17%;
  position: absolute;
  z-index: 1;
}
.NameInforma{
  height: 100%;
  margin-left: -55px;
  z-index: 0;
}
.InformationUser{
  margin: 25% -4%;
  height: auto;
  max-height:100px; 

}
.InformationUser p:first-child{
 color: white;
 font-size: 1.2em;
}
.InformationUser p{
 color: white;
 font-size: 1.1em;
}
/*Conteudo Usuario*/
.UserContentMain{
  height: auto;
  min-height: 100%;
  margin-top: 20px;
}
.sidebarUser{
  height: auto;
}
.sidebarUser h2{
  float: left;
  font-size: 1.1em;
  color: #008000;
  font-weight: bold;
  padding: 20px;
}
.pontosUser{
  background-color: #f8f8f8;
  border-top: 2px solid #363636;
  border-bottom: 1px solid #4F4F4F;
  height: auto;
}
.userButtons dl{
  margin: 0px;
  color: #707070;
  padding: 10px;
}
.userButtons dt{
  font-weight: normal;
}
.userButtons span{
  display: inline;
  font-size: 1.9em;
}
.menu-user-btn ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.menu-user-btn li{
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: left;
}
.menu-user-btn ul li{
 background-color:;
 color: black;
 text-decoration:none;
 height: 45px;
}
.menu-user-btn li{
  border-bottom:1px solid #B5B5B5;
}
.menu-user-btn ul li a{
  text-decoration:none;
  color: #4F4F4F;
  padding-left: 5px;
  font-size: 0.9em;
  font-weight: bold;
}
.menu-user-btn ul li a:hover{
  color:#363636;
}
.IformTitle h2{
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  padding: 20px 15px;
}

/*Conteudo User*/
.promoActive{
  margin: 0px;
}
.PromoItensMain{
  height: auto;
  z-index: 8;
  margin-right:20px;
  margin-bottom:20px;
}
/*Imagem Promoções*/
.PromoUserThub{
  height: 168px;;
  background-color: black;
  margin: 0px;
  padding: 0px;
  border:1px solid #B5B5B5;
}
.MarcaPromo{
  height: 50px;
  background-color: red;
  position: absolute;
}
.logoImgPromo{
  height:90px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.thumbnail a>img, .thumbnail>img {
  width: 100%;
  height: 100%;
  border: 1px solid #B5B5B5;
}
.logoImgPromo img{
  position: absolute;
  max-height: 100px;
}
.ReadMorePromo{
  clear: both;
  position:absolute;
  bottom:0;
  margin: 0px;
  padding: 0px;
}
.ReadMorePromo button{
  width: 99%;
  height: 30px;
  z-index: 3;
  margin: 0px;
  padding: 0px;
  border:0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  background-color: #B5B5B5;
}
/*Atualizar Dados*/
.formUserUpda input{
 height: 30px;
 background-color: #f8f8f8;
 border:1px solid #CDC9C9;
 border-radius: 5px;
}
.formUserUpda label,button{
  margin: 10px;
}
/*Tutoriais*/
.TutoriaisMain h1{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.TutoriaisMain p{
  text-align: center;

}
.TutoriaisMain p i {
  font-size: 1.2em;
}
.textTutorial{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.tutoLeft{

}
.tutoRight{

}
.tutoCenter{
  height: auto;
  min-height: 100%;
}
.VideoPlay{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.textTutorial p::first-letter{
  font-size: 1.5em;
}
.textTutorial p{
  text-align: justify;
  padding-top: 35px;
  font-size: 1.3em;
  text-indent: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
}
.CooperativasMain{
  text-align: justify;
}
#CoopError{
  text-align: center;
}
.ContentCoop{
  min-height: 1000px;
}
.titleCoope h1{
  font-size: 2.2em;
}
.titleCoope p{
  text-align: justify;
}
.listasCoope{
 display: -webkit-flex;
 display: flex;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center; 
}
.titleList p{
  text-align: left;
  font-size: 1.7em;
  padding: 20px 0px 0px 20px;
}
.listasCoope ul li{
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}
.listagemCoop p:first-child{
  font-size: 1.1em;
  font-weight: bold;
}
.listagemCoop{
  height: 200px;
  max-height: 200px;
  padding-top: 20px;
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 50px;
  float: right;
}

/*Paginação Tutoriais*/
.paginacao{
  clear: both;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/*Rodape*/
footer{
  background-color: #008000;
  height: auto;
  min-height: 150px;
  clear: both;
  margin-bottom: 0;
}
.footerContent{
  height: 100%;
}
.footerBox {
  padding-bottom: 20px;
}
.footerBox h2{
  font-size: 18px;
  color: white;
  text-align: center;
}
.footerBox ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  color: white;
}
.footerBox li{
  line-height: 1.5em;
  cursor: pointer;
}
.FooterLogo{
  background-color: #006400;
  height: 100px;
}
/*Admin*/
.sidebar-lg {
  height: 100%;
  background-color: #141414;
  overflow-x: hidden;
  position: fixed;
}

.sidebar-lg a{
  border-left: 6px solid #00B16A;
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  padding: 10px 0px 10px 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.sidebar-lg a:hover{
  transition: 0.3s;
  background-color: rgba(255,255,255,0.1);
}

.panel{
  border: 1px solid rgb(238,238,238);
}
.panel .panel-heading{
  background-color: green;
  border:none;
}

.font-red{
  color: red;
}


/********************************/
/*          Media Queries       */
/********************************/
/*Versão Desktop*/
@media screen and (min-width: 995px){
  .hero{ 
    width: 980px;
  }    
  .sidebar{
    display: none;
  }
  /*Quero Reciclar Desktop*/
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  /*Iframe Desktop*/
  .VideoPlay iframe{
    width: 950px;
    height: 500px;
    border:solid 1px #EEE9E9;
  }
  /*Tutoriais Desktop*/
  #box1{
    height: 683px;
    padding-top: 6em;
    margin-bottom: 1em;
  }
  .titulo
  {
    text-align: center;
    color: #666;
  }
  .titulo p
  {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 2em;
    margin-bottom: 5em;
    border-bottom: 3px double  rgba(144, 144, 144, 0.25);
  }
  .titulo h1
  {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  .thumbnail {
    border: 0px;
    border-radius: 0px;
  }
  .imagemThubnail{
    height: 202px;
    background-color: #363636;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0px -130px;
  }
  .caption {
    height: 350px;
  }
  .caption h3{
    height: auto;
    min-height: 51px;
    max-height: 51px;
    color: #666;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .caption p{
    text-align: justify;
    font-size: 1.1em;
    height: 130px;
  }
  .ReadMore{
    clear: both;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

}

/*Versão Mobile*/
@media screen and (max-width: 994px){
  .hero h1{
    font-size: 2.5em;
  }    
  .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
    width: 12px;
    height: 12px;
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  /*Quero Reciclar Mobile*/
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  /*Iframe Mobile*/
  .VideoPlay iframe{
    width: 950px;
    height: 350px;
    border:solid 1px #EEE9E9;
  }
  /*Tutoriais Mobile*/
  .titulo h1,p{
    text-align: center;
  }
  .thumbnail{
    border:0px;
  }
  .caption h3{
    font-size: 1.5em;
    color: #666;
    text-align: center;
  }
  .imagemThubnail{
    height: 200px;
    background-color: #363636;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    background-position: 0px -130px;
  }

}
