*:focus{
  outline: none;
}
/*Cores*/
.green{
  color: green;
}

.blue{
  color: #1FDCA6;
}


/*Navbar*/
.navbar-green{
  background-color: #008000;
  border-radius: 0px;
  color: white;
  border: none;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
  color: white;
}
/*Propriedades Fontes navbar*/
.navbar-default .navbar-nav > li > a{
  font-size: 1.1em;
  font-family: Arial;
}
.open>.dropdown-menu{
  margin: 0px;
  color: white;
}
/*Botão*/
.btn-green { 
  color: #ffffff; 
  background-color: #016301;
  border-radius: 0px; 
}


.btn-blue-outline{
  color: white;
  background-color: #1FDCA6;
  border-radius: 0px;
  border: 1px solid #1FDCA6;
  transition: 0.3s;
} 
.btn-blue-outline:hover{
  background-color: #1FDCA6;
  color: white;
  transition: 0.3s;
  outline: none;
}


.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #ffffff; 
  background-color: #243D2A; 
}

.btn-blue { 
  color: #FFFFFF; 
  background-color: #1FDCA6; 
} 

.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: white;
  background-color: #1FDCA6;
}  
/*background botao dropdown*/
.dropdown-menu>li>a,
.open>.dropdown-menu,
.open>.dropdown-menu,
.dropdown-menu>li>a:hover
{
  color: white;
  background-color: #1FDCA6;
}

/* The navigation menu links */
.sidebar {
  height: 100%; 
  width: 300px; 
  position: fixed;
  z-index: 3;
  top: 0;
  left: -300px;
  background-color: #FFF;
  overflow-x: hidden; 
  border: 1px solid gray; 
  transition: 0.5s; 
}

/**********************/
/*      Sidebar       */
/**********************/

.sidebar a {
  padding: 12px 12px 12px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  background-color: white;
  transition: 0.5s;
  z-index: 3;
}

.sidebar a:hover, .offcanvas a:focus{
  background-color: rgba(220,220,220, 0.5);
  transition: 0.5s;
  z-index: 3;
}

.sidebar .closebtn {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  background-color: transparent;    
  border: none;
  transition: 0.3s;
  margin-left: 15px;
}
.sidebar .closebtn:hover{
  color: gray;
  transition: 0.3s;
}

.sidenav-image{
  height: 250px;
  width: 100%;
  background-image: url("../img/side-img.jpg");
  text-align: center;
}

.sidenav-image button{
  margin: 50% auto;
  border-radius: 0;
}

.fa{
  color: green;
  margin: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-toggle{
  border-radius: 0px;
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(220,220,220, 0.5);
}
/*carousel*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  /*define altura do slider*/
  height: 70vh;
}
.fade-carousel .carousel-inner .item {
  /*define altura do slider*/
  height: 70vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color:#008000;
  border-color: white;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.hero h1 {
  font-size: 4.5em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.hero h1,h3,
.carousel-indicators
{
  /*Bloqueia copia texto*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0.1em 0.1em #333;
  color: white; 
}

.fade-carousel .carousel-inner .item .hero {
 opacity: 0;
 -  -webkit-transition: 2s all ease-in-out .1s;
 -  -moz-transition: 2s all ease-in-out .1s; 
 -  -ms-transition: 2s all ease-in-out .1s; 
 -  -o-transition: 2s all ease-in-out .1s; 
 -  transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
}

.carousel-indicators{
  z-index: 2;
}

/********************************/
/*       Custom Buttons         */
/********************************/

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
  cursor: pointer;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #363636;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/banner/lixo1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/banner/lixo2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/banner/lixo3.jpg);
}


/********************************/
/*  Input de registro e login   */
/********************************/
input[type]{
  border-radius: 0px;
}

input[type]:focus{
  border:2px solid green;
  box-shadow: none;
}

.cadastro{
  border: 1px solid rgba(0,128,0,0.7);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

#cad-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/********************************/
/*          Conteudo            */
/********************************/
#box1{
  height: 683px;
  padding-top: 6em;
  margin-bottom: 1em;
}

.titulo
{
  text-align: center;
  color: #666;
}
.titulo p
{
  font-size: 1.2em;
  padding-bottom: 2em;
  margin-bottom: 5em;
  border-bottom: 3px double  rgba(144, 144, 144, 0.25);
}
.titulo h1
{
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/*Tutoriais Index*/
.thumbnail {
  border: 0px;
}
.imagemThubnail{
  height: 202px;
  background-color: #363636;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}
.imagemThubnail1{
  background-image: url(../img/lixo.jpg);
}
.imagemThubnail2{
  background-image: url(../img/index2.jpg);
}
.imagemThubnail3{
  background-image: url(../img/index3.jpg);
}
.imagemThubnail4{
  background-image: url(../img/index4.jpg);
}
.caption h3{
  color: #666;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px double  rgba(144, 144, 144, 0.25);
}
.caption p{
  text-align: center;
  font-size: 1.1em;
}
.caption p a{
  margin-top: 15px;
}



/*Tela Usuario*/
.pontos{
background-color: #1C1C1C;
/*background-image: url(../img/teste.jpg);
background-position: 10px 0px;*/
height: 220px;
}
.progress{
  height: 100%;
  background-color:transparent;
  margin: 0;
}
#my_canvas{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}
.margin{
  margin: 0;
  padding: 0;
}


/*Quero Reciclar*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-weight: 200;
  background-color: #363636;
  position: absolute;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #363636;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #363636;
  border-bottom: 1px solid #363636;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-size: 1em;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  font-size: 1.3em;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid green;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/******************/
/* Mapa Google    */
/******************/
 #map {
 height: 100%;
 position:absolute;
 right: 0;
}
/*Fim quero Reciclar*/




/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 995px){
  /*Para o pc*/
  .hero{ 
    width: 980px;
  }    
  .sidebar{
    display: none;
  }
  /*Quero Reciclar*/
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
@media screen and (max-width: 994px){
  /*para smartphones*/
  .hero h1{
    font-size: 2.5em;
  }    
  .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
    width: 12px;
    height: 12px;
  }
  .fade-carousel .carousel-indicators > li.active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  /*Quero Reciclar*/
    .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
